h1, h2,h3 {
   font-family: 'Chivo', sans-serif;
}

h1{
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 35px;
    margin-bottom:20px;
}

h5 {
   font-size: 30px; 
   color : #2a1934;
   font-family: 'Chivo', sans-serif;
   border-top: #2a1934;
}

h5 + p {
    color : #190226;
    font-family: 'Chivo', sans-serif;
    font-weight: bold;
    font-size: 20px;

}

.couleur-dystop {
    color: #a466c3;
}

.orderWrittingStyle{
    font-family: 'Chivo', sans-serif;
    font-size: 15px;
}



#page_remerciement > p {
    font-family: 'Chivo', sans-serif;
}

#div_input_error, #div_input_error2 ,#div_input_error3 ,#div_input_error4 ,#div_input_error5 {
    color: #a466c3;
    padding: 1%;
    font-weight: bold;
}



@media only screen and (max-width: 600px) {
        h5 {
            font-size: 15px; 
         }
         
         h5 + p {
             font-size: 13px; 
         }

         h1{
             font-size : 29px;
         }

         h2 {
            font-size: 25px;
        }
        
        h3 {
            font-size: 22px;
        }

        .writtingMediaQueriesMobile {
            font-size : 10px;
        }

        .orderWrittingStyle{
            font-family: 'Chivo', sans-serif;
            font-size: 10px;
        }

        .hidden {
            font-size: 0.1px;
        }

        .textThanks{
            font-size : 8px;
        }
    
        .textThanks2{
            font-size:8px
        }

        .textTitleThanks{
            font-size:16px
        }
     
     }

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

    h5 {
        font-size: 20px; 
     }
     
     h5 + p {
         font-size: 18px; 
     }

     h1 {
         font-size : 34px;
     }

     h2 {
        font-size: 30px;
    }
    
    h3 {
        font-size: 24px;
        margin-bottom:10px;
    }

    .textThanks{
        font-size : 12px;
    }

    .textThanks2{
        font-size:12px
    }

    .textTitleThanks{
        font-size:20px
    }
 
     }



